/* Write your CSS here */
.bg-container {
  background-color: #cbd5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.heading {
  font-size: 30px;
  color: #475569;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
}
